<div class="container main-container">
    <h1>Demo <small>Angular</small></h1>
    <hr>

    <!-- <app-clases></app-clases> -->
    <!-- <p [appResaltado]="'red'">
        Hola Mundo
    </p> -->
    <app-ng-switch></app-ng-switch>
</div>